<div class="container">
	@if(schedule != null)
    {
        <div class="col-md-8">
            <p>@schedule.Name</p>
            <p>@schedule.StartTime.ToString("G")</p>
            <p>@schedule.ExpireTime.ToString("G")</p>
        </div>
    }
    else
    {
       <span class="text-danger">Loading...</span>
    }
</div>
@code {
	[Parameter]
	public ISchedule schedule { get; set; }
	[Parameter]
	public bool IsExpired { get; set; }
}
