@page "/todo"

<h3>MainTodo</h3>
@if (controller != null)
{
	@foreach (ISchedule schedule in controller.GetExpiredSchdule())
	{
		<TodoItem schedule="schedule" />
	}
} 
else
{
	<h2> Now Loading... </h2>
}

@code {
	ScheduleController.ScheduleControllerModule.ScheduleController controller = null;
	protected override async Task OnInitializedAsync()
	{
		if(controller == null)
        {
			controller = ScheduleAdmin.MakeScheduleController();
        }
	}

}
