@page "/inputschedule"

<div>
    <div>
        <h1>Input Schedule</h1>
        <form method="POST" @onsubmit="OnSubmit">
            *<div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" @bind="schedule.Name">
                <BlazorBootstrap.DateInput TValue="DateOnly" @bind-Value="dateOnly" Type="InputDateType.Month"/>
                <InputDate TValue="DateTime"
                           ValueExpression="@(()=>schedule.StartTime)"
                           Value="schedule.StartTime"
                           Type="InputDateType.Time"
                           ValueChanged="@((DateTime t)=> schedule.StartTime = t)" />
                <input type="date" class="form-control" @bind-value="schedule.StartTime" @bind-value:format="yyyy-MM-dd" />
                <input type="datetime" class="form-control" id="name" placeholder="Enter name" @bind="schedule.StartTime">
                <input type="datetime" class="form-control" id="named" placeholder="Enter name" @bind="schedule.ExpireTime">
            </div>
            <button>Submit</button>
        </form>
    </div>
</div>
<div>
    <ChangeLanguage />
</div>

@code {
    [SupplyParameterFromForm]
    public SubmitSchedule schedule { get; set; }
    protected override void OnInitialized(){
        schedule ??= new ();
    }
    private int chchedHour = 0;
    private void OnSubmit()
    {
        // Do something
        Debug.WriteLine(schedule.Name);
        
    }
    private void CheckDate(DateTime selectedTime)
    {
        
    }
    private DateOnly dateOnly = DateOnly.FromDateTime(DateTime.Now);
    public class SubmitSchedule
    {
        public string Name { get; set; } = "";
        public DateTime StartTime { get; set; } = DateTime.Now;
        public DateTime ExpireTime { get; set; } = DateTime.Now;
    }
}
